/**/
div.c14 {
    margin-left: 0.7em
    }
div.c13 {
    text-indent: -0.7em
    }
div.c12 {
    display: block;
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: bold
    }
div.c11 {
    margin: 0.83em 0;
    font-size: 1.1em;
    text-align: center
    }
span.c10 {
    font-size: smaller
    }
div.c9 {
    display: block;
    margin: 1em 0
    }
div.c8 {
    display: block;
    margin-top: 4em
    }
table.c7 {
    margin-right: auto;
    margin-left: auto
    }
div.c6 {
    margin-top: 2em;
    margin-bottom: 4em
    }
div.c5 {
    display: block;
    margin-left: 2em;
    text-indent: -2em
    }
div.c4 {
    display: block;
    margin: 1em 0
    }
div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em
    }
div.c2 {
    display: block;
    margin: 1em 0
    }
div.c1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold
    }
/**/